package inheritance.com;
class Parent {
	float height=5.8f;
	String colour="brown";
	String noseStructure = "perfect";
	
	void readingNewspaper() {
		System.out.println("Reading NewsPaper.");
	}
	
	void noDrinking() {
		System.out.println("No Drinking.");
	}
	void noSmoking() {
		System.out.println("No smoking.");
	}
}

class Child extends Parent {
	
}

public class EncapsulationDay1 {
	public static void main(String[] args) {
		Child c=new Child();
		
		System.out.println(c.height);
		System.out.println(c.colour);
		System.out.println(c.noseStructure);
		
		c.readingNewspaper();
		c.noDrinking();
		c.noSmoking();
	}
}
